<footer>
    <div class="social-media-icons">
        <a href="http://instagram.com" target="_blank"><i class="fa-brands fa-instagram"
                style="color: rgb(255, 81, 0);"></i></a>
        <a href="http://facebook.com" target="_blank"><i class="fa-brands fa-facebook"
                style="color: rgba(0, 8, 255, 0.758);"></i></a>
        <a href="http://youtube.com" target="_blank"><i class="fa-brands fa-youtube" style="color: red;"></i></a>
        <a href="http://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"
                style="color: rgb(0, 149, 255);"></i></a>
    </div>
    <div class="lower-footer">
        <h4>Majeed's blogs</h4>
        <p>&copy; <%= new Date().getFullYear() %> - All rights reserved</p>
    </div>
</footer>


</body>

</html>