<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Capstone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="blog-header">
        <h1>Majeed's Blog</h1>
        <div class="blog-header-links">
            <a href="/">HOME</a>
            <a href="/add">ADD</a>
        </div>

    </div>
    <hr>